<!DOCTYPE html>
<html>
<head>
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
	<!-- cool ass font -->
	<link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
	<!-- css -->
	<link rel="stylesheet" type="css" href="main.css">
	<!-- lame ass javascript -->
	<script src="ttt.js" defer></script>
	
	<title>Denise's Tic Tac Toe</title>	
</head>

<body ng-app="gameApp" ng-controller="gameController as tictactoe">

	<h1 id="heading">Tic Tac Toe</h1>
<div id="container">
	<div class="square" id="sq{{ $index }}" ng-repeat="sq in board track by $index" ng-click="makeMove($index)" ng-bind="sq.playerMove">
	</div>
	<div class="line" id=ln{{ $index }} ng-repeat="line in lines track by $index"></div>
</div>
<div class ="winbox" ng-bind="winMessage[0].message"></div>


</body>
</html>


