body {
	background-image: url(chalkboard.jpg);
	font-family: 'Walter Turncoat', cursive;
	color: white;
}

#heading {
	font-size: 85px;
	text-align: center;
}

#container {
	height: 534px;
	width: 534px;
	margin-top: 164px;
	margin: auto;
}

.square  {
	width: 170px;
	height: 172px;
	display: inline-block;
	border: 3px white solid;
	font-family: 'Walter Turncoat', cursive;
	font-size: 151px;
	text-align: center;
	
}
.winbox {
	text-align: center;
	font-family: 'Walter Turncoat', cursive;
	color: white;
	font-size: 50px;
	height: 30px;
	margin-top: -595px;
}