html {
	background-image: url(chalkboard.jpg);
}
/*
#quarter{
	width: 166px;
	height: 166px;
	z-index: 0;
	cursor: pointer;

}*/

#container {
	height: 530px;
	width: 530px;
	margin-top: 164px;
	margin: auto;
}

.square  {
	width: 172px;
	height: 172px;
	display: inline-block;
	border: 3px white solid;
	font-family: 'Walter Turncoat', cursive;
	font-size: 151px;
	text-align: center;
	color: white;
}
.winbox {
	width: 100%;
	text-align: center;
	font-family: 'Walter Turncoat', cursive;
	color: white;
	font-size: 60px;
}
